# Enable rewriting engine
RewriteEngine On

# Hide .php extension
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ $1.php [L]

# Hide .html extension
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)$ $1.html [L]

# Optional: Redirect visitors who type .php or .html to the extensionless URL
#RewriteCond %{THE_REQUEST} \s/+(.+)\.php[\s?]
#RewriteRule ^ %1 [R=301,L]

RewriteCond %{THE_REQUEST} \s/+(.+)\.html[\s?]
RewriteRule ^ %1 [R=301,L]